body {
    background-image: url(lobby-background.jpg);
    color: #fff;
}

#formContainer {
    width: 30%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #d5c4f7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px #14197c;
}

#formContainer-header {
    border-radius: 10px 10px 0 0;
    padding: 5px;
    text-align: center;
    background-color: #bc9ff5;
    margin: 0;
    font-size: 20px;
    font-size: 300;
    line-height: 0;
    font-family: calibri;
}

#formContent {
    padding: 20px;
}

input[type='submit'] {
    background-color: #14197c;
    color: #ffffff;
    font-family: calibri;
    width: 30%;
}

input {
    box-sizing: border-box;
    color: #000000;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: calibri;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 15px 20px;
}